*{
    font-family: sans-serif;
    margin: 1px;
}
.cases{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:0 10px;

}

.ratioblock{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    grid-gap:0 10px;
}

.cases div P{
    font-size: 18px;
    margin: 0;
}

.ratioblock div p{
    font-size: 18px;
    margin: 0;
}
.redbox{
    background:#F5B7B1;
    border-radius: 5px;
    text-align: center;
    color: #CB4335;
}

.greenbox{
    background:#A9DFBF;
    border-radius: 5px;
    text-align: center;
    color: #1D8348;
}

.bluebox{
    background:#D6EAF8;
    border-radius: 5px;
    text-align: center;
    color: #3498DB;
}

.blackbox{
    background:#EAECEE;
    border-radius: 5px;
    text-align: center;
    color:#2C3E50
}
::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: #2C3E50;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: white;
}
a{
    color: #2C3E50;
}
